
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red { background: red; width: 50px; height: 50px; opacity: 0.2; }
.orange { background: orange; width: 50px; height: 50px; opacity: 0.2; }
.green { background: green; width: 50px; height: 50px; opacity: 0.2; }
.active { opacity: 1;}
.TodoItem-complete {
  text-decoration: underline;
}
.TodoItem img {
  width: 20px;
}